@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
	overflow-x: scroll;
}

body::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title-container {
  background-image: url("/blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
